@model PayPlus.Models.Partner

@{
    ViewData["Title"] = "Add Partner";
}
<div class="container d-flex justify-content-center">
    <div class="card w-50 mt-5">
        <div class="card-header">
            <h5>@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-6 py-2">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" type="text"/>
                    </div>

                    <div class="col-md-6 py-2">
                        <label asp-for="VAT_number" class="form-label"></label>
                        <input asp-for="VAT_number" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Address" class="form-label"></label>
                        <input asp-for="Address" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Postal_code" class="form-label"></label>
                        <input asp-for="Postal_code" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control"/>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Phone" class="form-label"></label>
                        <input asp-for="Phone" class="form-control"/>
                    </div>
                
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm mx-1 my-2 pr-2">
                    <i class="ti ti-check"></i> Save
                </button>
                <a asp-action="Index" class="btn btn-outine-secondary btn-sm mx-1">
                    <i class="ti ti-arrow-left"></i> Back
                </a>
            </form>
        </div>
    </div>
</div>