@model PayPlus.Models.Offer

@{
    ViewData["Title"] = "Create Offer";
}

<div class="container d-flex justify-content-center">
    <div class="card w-50 mt-5">
        <div class="card-header">
            <h5>@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="row">
                    <div class="col-md-6 py-2">
                        <label asp-for="PartnerId" class="control-label"></label>
                        <select asp-for="PartnerId" class="form-control" asp-items="ViewBag.Partners">
                            <option value="">-- Select Partner --</option>
                        </select>
                        <span asp-validation-for="PartnerId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="Date" class="form-label"></label>
                        <input asp-for="Date" type="date" class="form-control"
                               value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 py-2">
                        <label class="control-label">Services</label>
                        <select name="ServiceIds" class="form-control" multiple asp-items="ViewBag.Services"></select>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="TotalPrice" class="control-label"></label>
                        <input asp-for="TotalPrice" class="form-control" readonly />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm mx-1 my-2 pr-2">
                    <i class="ti ti-check"></i> Save
                </button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-sm mx-1">
                    <i class="ti ti-arrow-left"></i> Back
                </a>
            </form>
        </div>
    </div>
</div>