@model PayPlus.Models.Service

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h4 class="py-4 font-weight-bold">Uredi storitev</h4>
    <div class="card mt-3 w-50">
        <div class="card-body">

            <form asp-action="Edit" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>

                <div class="mb-3">
                    <input asp-for="ServiceName" class="form-control" placeholder="Service Name"
                           value="@Model.ServiceName" required/>
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="ServiceDescription" class="form-control" placeholder="Service Description"
                           value="@Model.ServiceDescription" required/>
                    <span asp-validation-for="ServiceDescription" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="Price" class="form-control" placeholder="Price" value="@Model.Price" type="number"
                           step="0.01" min="0" required/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Potrdi</button>
                <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
            </form>

        </div>
    </div>
</div>
